#target {
    display: inline-block;
    background: yellow;
    color: red;
    font: bold 18px Helvetica;
    padding: 5px 10px;
    cursor: pointer;
}

#target:active {
    background: orange;
}

body {
    background: green;
}

.node-appended-child {
    padding: 5px 10px;
    background: orange;
}

.node-inserted-before {
    padding: 5px 10px;
    background: red;
}

#container1 {
    padding: 5px 10px;
    border: 1px solid black;
}

#container2 {
    padding: 5px 10px;
    border: 4px solid brown;
}