#target {
    display: inline-block;
    background: yellow;
    color: red;
    font: bold 18px Helvetica;
    padding: 5px 10px;
    cursor: pointer;
}

#target:active {
    background: orange;
}

body {
    background: green;
}
